.overlay-us {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-us {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 300px;
    max-width: 400px;
    height: 100vh;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    .dark &{
        background-color: var(--shade-9);
    }
}

.info-usuario h2 {
    margin-bottom: 10px;
}

.info-usuario p {
    margin-bottom: 10px;
}

.perfil-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    .dark &{
    color: white;
}
}
.perfil-avatar{
    border-radius: 999px;
}

.perfil-stats{
    gap: 15px;
    .dark &{
        color: white;
    }
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.stat{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
span{
    font-weight: bold;
}
.perfil-descripcion{
    margin-top: 15px;
    .dark &{
        color: white;
    }
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 100px;
}

.boton-comprar {
    background-color: var(--primario);
    padding: 15px;
    border-radius: 30px;
    border: none;
    .dark & a{
        color: white;
    }
}
.boton-comprar:hover{
    background-color: var(--primario-hover);
    text-decoration: none;
}

.boton-favoritos{
    background-color: fuchsia;
    padding: 15px;
    border-radius: 30px;
    border: none;
    .dark & a{
        color: white;
    }
}
.boton-favoritos:hover{
    background-color: deeppink;
    color: white;
    text-decoration: none;
}
.modo-oscuro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    .dark &{
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 80vw;
        max-width: 400px;
    }
}
